[Unit]
Description=IMAP server (dovecot)
OnFailure=status-email-root@%n.service
PartOf=mailserver.service
ReloadPropagatedFrom=mailserver.service

[Service]
ExecStart=/usr/sbin/dovecot -F -c /etc/dovecot/dovecot.conf
ExecReload=/usr/sbin/dovecot reload
ExecStop=/usr/sbin/dovecot stop
Restart=always
RestartSec=4
RuntimeDirectory=dovecot
##RootDirectory=/
## Optional security settings
#PrivateTmp=true
#ProtectSystem=full
#ProtectHome=read-only
##ProtectHome=true
#ProtectKernelTunables=true
#ProtectKernelModules=true
#ProtectControlGroups=true
#NoNewPrivileges=true
#ReadWritePaths=/var/mail /var/spool/mail /var/spool/dovecot /var/lib/dovecot /var/lib/dovecot/db/


[Install]
WantedBy=mailserver.target
