[Unit]
Description=Exim Mail Transfer Agent (Queue Runner)
Documentation=man:exim(8)
OnFailure=status-email-root@%n.service
PartOf=mailserver.service
ReloadPropagatedFrom=mailserver.service

[Service]
#ExecStart=-/usr/sbin/exim -bdf -q30m -d
ExecStart=-/usr/sbin/exim -bdf -q30m
ExecReload=/bin/kill -s SIGHUP $MAINPID
Restart=always
# Optional security settings
#PrivateTmp=false
ProtectSystem=full
ProtectHome=read-only
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
SupplementaryGroups=vmail
#NoNewPrivileges=true
ReadWritePaths=/var/mail /var/spool/mail /var/spool/exim4 /var/log/exim4

[Install]
WantedBy=mailserver.target
