Package: xe-mailserver
Version: 0.1.19
Section: mail
Priority: extra
Architecture: all
Maintainer: Jakobus Schürz <jakob@xundeenergie.at>
Homepage: http://github.com/xundeenergie/xe-mailserver
Provides: xe-mailserver
Depends: xe-mailserver-config, exim4-multiaccount, dovecot-imapd, dovecot-lmtpd, dovecot-managesieved, dovecot-sieve, php
Recommends: python3, pyhton3-pip, python3-setuptools, python3-wheel
Description: Additional config-files for a mailserver
 This package is a meta-package for a mailserver build with exim4, dovecot, spamassassin for xundeenergie

